html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background: #2e7d32;
  background-image: url('./icons/add.svg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-select-box {
  position: absolute;
  top: 5px;
  left: 0;
}

.book-rating {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.book-cover-title li {
  float: left;
  box-sizing: border-box;
}

/* book corner ribbon */

.ribbon {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 0;
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
  color: #fff;
  font: 700 12px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.ribbon-currentlyreading span {
  background-color: #2980b9;
}

.ribbon-wanttoread span{
  background-color: #9932CC;
}

.ribbon-read span{
  background-color: #006400;
}

/* book transition animations */

.move-book-animation-enter {
  opacity: 0.01;
  width: 0px;
}

.move-book-animation-enter.move-book-animation-enter-active {
  opacity: 1;
  width: 170px;
  transition: 700ms;
}

.move-book-animation-leave {
  opacity: 1;
  width: 170px;
}

.move-book-animation-leave.move-book-animation-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}


/* book select control mode and animations */

.select-mode-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-select-mode-enter {
  opacity: 0.01;
  height: 0px;
}

.book-select-mode-enter.book-select-mode-enter-active {
  opacity: 1;
  height: 36px;
  transition: 500ms;
}

.book-select-mode-leave {
  opacity: 1;
  height: 36px;
}

.book-select-mode-leave.book-select-mode-leave-active {
  opacity: 0.01;
  height: 0;
  transition: 300ms;
}


.book-select-box-move-enter {
  opacity: 0.01;
  height: 0;
}

.book-select-box-move-enter.book-select-box-move-enter-active {
  opacity: 1;
  height: 77px;
  transition: 500ms;
}

.book-select-box-move-leave {
  opacity: 1;
  height: 77px;
}

.book-select-box-move-leave.book-select-box-move-leave-active {
  opacity: 0.01;
  height: 0;
  transition: 300ms;
}

/* Loader */

.shelf-loader-box{
  text-align: center;
  margin-top: 20px;
}

.loader-shelf-menu{
  margin-left: 10px;
}

.loader-box-svg{
  color: #2980b9;
  width: 100px;
  height: 100px;
  height: 100px;
  display:inline-block;
}

/* Shelf message (No books, No internet) */
.shelf-message-text{
  text-align: center;
  margin-top: 100px;
  height: 80px;
}